*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}

/* The header */
#head_firstbanner {
    background-image: url(Assets/Image/Object.png);
   background-size: cover;
   height: 1093px;
}

header section{
    display: flex;
    justify-content: space-around;
    padding: 1.5em;
}

#homeLogo{
    width: 75%;
}

header section nav ul{
    display: flex;
    list-style: none; 
    gap: 1em ;  
}

header section nav ul li a{
    text-decoration: none;
    color: white;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: bold;
}

/* First section  with the schooled title*/

main section{
    
  text-align: center;
}

main section h1{
    
    color: white;
    font-family: Source Sans Pro;
    margin-top: 1em;
    font-size: 120px;
    font-weight: bold;
}

#first_banner_text{
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 2.5em;
    color: white;
}

main section button{
    background-color: #C271FF;
    border: none;
    color: white;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 700;
    border-radius: 22px;
    padding: 1em;
    margin-top: 3em;
}

/* Learn from the pros seation */
#learn{
    color: white;
    font-size: 32px;
    font-family: Source Sans Pro;
}

#light{
    font-weight: lighter;
}
strong{
    color:#C271FF;
}

#banner_two{
    margin-top: 10em;
}

/* Pros details */

#pros_details{
    margin-top: 5em;
    display: flex;
    justify-content: center;
    justify-content: space-around;
   
}

#bruce{
    border-radius: 20em;
}

.pros_names{
    color: white;
    font-size: 18px;
    font-weight: bolder;
    font-family: Source Sans Pro;
    margin: .5em;
}

.sub_title{
    color: white;
    font-family: Source Sans Pro;
    font-style: italic;
    font-size: 16px;
   
    
    
}